<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>qual-party</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
		<link href="/styles/site.min.css" rel="stylesheet">
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="headedr">
			<div class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						{{!-- <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button> --}}
						<a href="/" class="navbar-brand">Qual Party</a>
					</div>
					<form class="navbar-form navbar-right search" role="search">
						<input type="text" class="form-control" placeholder="Buscar producto">
						<button>
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</form>
					<div class="collaspse navbar-collapsed">
						<ul style="flex-direction: unset;" class="nav navbar-nav navbar-right">
							{{#if user}}
							<li class=""><a href="#">{{ userName user}}</a></li>
							{{else}}
							<li class=""><a href="/signup">Sign Up</a></li>
							{{/if}}
							{{#if user}}
							<li class=""><a href="/signout">Sign Out</a></li>
							{{else}}
							<li class=""><a href="/signin">Sign In</a></li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
			<div role="navigation" class="navbar bg-dark navbar-expand-lg navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-brand">
						<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
						{{!-- <a href="/" class="navbar-brand">Qual Party</a> --}}
					</div>
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav">
								{{#each navLinks}}
								<li {{#ifeq ../section key}}class="nav-item active"{{else}}class="nav-item"{{/ifeq}}>
									<a class="nav-link" href="{{ href }}">{{ label }}</a>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<div id="footer">
				<p>Powered by <a href="/" target="_blank">QualPartyCMS</a>.</p>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		{{!-- <script src="/js/jquery/jquery-2.1.4.min.js"></script> --}}
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		{{!-- <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> --}}
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
