{{!-- <div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/blog">&larr; back to the blog</a></p>
				<hr>
				<header>
					<h1>{{post.name}}</h1>
					<h5>
						{{{categoryList data.post.categories prefix="Posted in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="post">
					{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
					{{{data.post.content.extended}}}
				</div>
			</article>
		</div>
	</div>
</div> --}}

<div class="container">
    	<div class="row">
           <div class="col-4 item-photo">
				{{#if post.image}}<img style="max-width:100%;"src="{{{cloudinaryUrl post.image crop='fit' }}}" class="img-responsive">{{/if}}

                {{!-- <img style="max-width:100%;" src="https://ak1.ostkcdn.com/images/products/8818677/Samsung-Galaxy-S4-I337-16GB-AT-T-Unlocked-GSM-Android-Cell-Phone-85e3430e-6981-4252-a984-245862302c78_600.jpg" /> --}}
            </div>
            <div class="col-5" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3>{{post.name}}</h3>    
                <h6 style="color:#337ab7">Publicado por {{post.author.name.first}}</h6>
    
                <!-- Precios -->
                <h6 class="title-price"><small>PRECIO</small></h6>
                <h3 style="margin-top:0px;">RD$ {{post.price}}</h3>
    
                <!-- Detalles especificos del producto -->

                <div class="section" style="padding-bottom:20px;">
                    <h6 class="title-attr"><small>CANTIDAD</small></h6>                    
                    <div>
                        <div class="btn-minus"><i class="fas fa-minus"></i></div>
                        <input value="1" style="border: solid 1px #838383;">
                        <div class="btn-plus"><i class="fas fa-plus"></i></div>
                    </div>
                </div>
                <div class="section" style="padding-bottom:5px;">
                    <h6 class="title-attr"><small>Total</small></h6>                    
                    <div>
                        <div class="attr2">{{post.price}}</div>
                    </div>
                </div>                   
    
                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Contactar</button>
                    {{!-- <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Agregar a lista de deseos</a></h6> --}}
                </div>                                        
            </div>                              
    
            <div class="col-9">
                <ul class="menu-items">
                    <li class="active">Detalle del producto</li>
                    {{!-- <li>Garantía</li>
                    <li>Vendedor</li>
                    <li>Envío</li> --}}
                </ul>
                <div style="width:100%;border-top:1px solid silver">
					{{{post.description}}}
                </div>
            </div>		
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
       $(document).ready(function(){
            //-- Click on detail
            $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            })            
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })                        
        })
    }); 
</script>